# Version control in dotfiles is managed by whitelist.

### all ignore ###
/*
/.**

### not ignore ###
!/bin/
!/bin/setup.sh
!/Brewfile
!/com\.googlecode\.iterm2.plist
!/Code/
!/Code/extensions.txt
!/Code/User/
!/.gitconfig
!/config.common
!/Code/User/settings.json
!/.zprofile
!/.zshrc

!/.gitkeep
!/.gitignore
!/README.md