# Version control in dotfiles is managed by whitelist.

### all ignore ###
/*
/.**

### not ignore ###
!/.bin/
!/.bin/setup.sh
!/Code/
!/Code/extensions.txt
!/Code/User/
!/Code/User/settings.json
!/.bash_profile
!/.bashrc
!/.Brwfile
!/.zprofile
!/.zshrc

!/.gitkeep
!/.gitignore
!/README.md